.products{
    display: grid;
    grid-template-columns: 240px 240px 240px 240px 240px;
    grid-template-rows: 447px;
}

.item {
    box-sizing: border-box;
    text-align:center;
    font-size: 1.1em;
    padding: 1.5em;
    color: red;
}

.color1 {background-color: #675BA7;}
.color2 {background-color: #9BC850;}
.color3 {background-color: #A62E5C;}
.color4 {background-color: #2A9FBC;}