.app-wrapper{
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas:
  "h"
  "c"
  "f";
  grid-template-rows: 140px auto 1fr;
  grid-template-columns: 1fr;
}

.main{
  background-color: white;
}